<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
</head>
<body>
    <h1>Exam</h1>
    {% for question in questions %}
        <p>{{ question.question }}</p>
        <form action="">
            {% for option in question.options %}
                <input type="radio" name="{{ loop.index0 }}" value="{{ option }}">{{ option }}<br>
            {% endfor %}
        </form>
    {% endfor %}
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
